<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>TypeScript+hifive</title>
</head>
<body>
    <div id="container">
        <input type="button" id="countUpBtn" class="btn btn-primary" value="Count Up" />
        <input type="button" id="resetBtn" class="btn btn-warning" value="Reset" />
    </div>

    <%- include src/assets/libs -%>
</body>
</html>
