<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>TypeScript+hifive</title>
</head>
<body>
    <div id="container">
        <div id="counterContainer"></div>
    </div>

    <%- include src/assets/libs -%>
</body>
</html>
